<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>MyShop Co(PVT) LTD</h1>
    <p>
        No:682
        Malwatta,
        Nittambuwa
        TEL: 0114060101
    </p>
    <hr />
    <h2>Customer Details</h2>
    <address>
        {firstName} {lastName}<br>
        {address}<br>
    </address>
    <h4>Date:{orderedDate}</h4>
    <h3>SubTotalPrice:{subTotalPrice}</h3>
    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Unit Price</th>
                <th>Quentity</th>
                <th>TotalPrice</th>
            </tr>
        </thead>
        <tbody>
